body {
    background-color: "#f2f2f2" ;
}

.carousel {
    z-index: -1;
    transform: translate(0%, -25%);
    height: 500px !important;
}

.searchbar-container{
    z-index: 1;
    transform: translate(0%, 200%);
}

.searchbar-heading {
    z-index: 1;
    transform: translate(0%, 200%);
    color: white;
    font-weight: "strong";
    font-size: 54pt;
}

.tile-container {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

td {
  padding-right: 10px;
}

.trail-card {
    transition: transform .3s;
}

.trail-card:hover {
    transform: scale(1.05);
}
